openapi: "3.1.0"
info:
  title: "NFL Next Gen Stats Leaders API"
  version: "1.0.0"
  description: >-
    Reverse-engineered specification for the NFL Next Gen Stats Leaders API.
    This spec was derived from the Griddy SDK implementation and may be
    incomplete. The NFL.com API is undocumented and subject to change
    without notice.
servers:
  - url: https://nextgenstats.nfl.com
    description: NFL Next Gen Stats API
components:
  schemas:
    SeasonType:
      type: string
      enum: ["REG", "PRE", "POST"]
    NgsSpeedLeadersResponse:
      type: object
      properties:
        season:
          type: integer
        seasonType:
          type: string
        leaders:
          type: array
          items:
            type: object
          description: Array of ball carrier speed leader objects.
    NgsSackLeadersResponse:
      type: object
      properties:
        season:
          type: integer
        seasonType:
          type: string
        leaders:
          type: array
          items:
            type: object
          description: Array of sack time leader objects.
    NgsCompletionLeadersResponse:
      type: object
      properties:
        season:
          type: integer
        seasonType:
          type: string
        leaders:
          type: array
          items:
            type: object
          description: Array of improbable completion leader objects.
    NgsYACLeadersResponse:
      type: object
      properties:
        season:
          type: integer
        seasonType:
          type: string
        leaders:
          type: array
          items:
            type: object
          description: Array of YAC over expectation leader objects.
    NgsDistanceLeadersResponse:
      type: object
      properties:
        season:
          type: integer
        seasonType:
          type: string
        leaders:
          type: array
          items:
            type: object
          description: Array of in-play distance leader objects.
    NgsTackleLeadersResponse:
      type: object
      properties:
        season:
          type: integer
        seasonType:
          type: string
        leaders:
          type: array
          items:
            type: object
          description: Array of tackle distance leader objects.
    NgsERYLeadersResponse:
      type: object
      properties:
        season:
          type: integer
        seasonType:
          type: string
        leaders:
          type: array
          items:
            type: object
          description: Array of rush yards over expected leader objects.
  parameters:
    SeasonParam:
      name: season
      in: query
      required: true
      description: The season year (e.g., 2025).
      schema:
        type: integer
    SeasonTypeParam:
      name: seasonType
      in: query
      required: true
      description: Season type (REG, PRE, POST).
      schema:
        $ref: "#/components/schemas/SeasonType"
    LimitParam:
      name: limit
      in: query
      required: false
      description: Number of results to return (default 20).
      schema:
        type: integer
        default: 20
    WeekParam:
      name: week
      in: query
      required: false
      description: Optional week filter.
      schema:
        type: integer
  responses:
    Unauthorized:
      description: Authentication required or token expired.
    NotFound:
      description: The requested resource was not found.
    RateLimited:
      description: Rate limit exceeded.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
paths:
  /api/leaders/speed/ballCarrier:
    get:
      operationId: getNgsFastestBallCarriers
      summary: Get fastest ball carrier speeds.
      description: >-
        Returns leaderboard of fastest ball carrier speeds recorded.
      parameters:
        - $ref: "#/components/parameters/SeasonParam"
        - $ref: "#/components/parameters/SeasonTypeParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/WeekParam"
      responses:
        "200":
          description: Fastest ball carrier speed leaders.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NgsSpeedLeadersResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/leaders/time/sack:
    get:
      operationId: getNgsFastestSacks
      summary: Get fastest sack times.
      description: >-
        Returns leaderboard of quickest sacks by time to tackle.
      parameters:
        - $ref: "#/components/parameters/SeasonParam"
        - $ref: "#/components/parameters/SeasonTypeParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/WeekParam"
      responses:
        "200":
          description: Fastest sack time leaders.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NgsSackLeadersResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/leaders/expectation/completion/season:
    get:
      operationId: getNgsImprobableCompletions
      summary: Get most improbable completions.
      description: >-
        Returns leaderboard of completions with lowest completion probability.
      parameters:
        - $ref: "#/components/parameters/SeasonParam"
        - $ref: "#/components/parameters/SeasonTypeParam"
      responses:
        "200":
          description: Improbable completion leaders.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NgsCompletionLeadersResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/leaders/expectation/yac/season:
    get:
      operationId: getNgsIncredibleYAC
      summary: Get incredible YAC plays.
      description: >-
        Returns leaderboard of yards after catch over expectation.
      parameters:
        - $ref: "#/components/parameters/SeasonParam"
        - $ref: "#/components/parameters/SeasonTypeParam"
      responses:
        "200":
          description: YAC over expectation leaders.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NgsYACLeadersResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/leaders/distance/ballCarrier:
    get:
      operationId: getNgsLongestPlays
      summary: Get longest plays by in-play distance.
      description: >-
        Returns leaderboard of plays with most distance covered.
      parameters:
        - $ref: "#/components/parameters/SeasonParam"
        - $ref: "#/components/parameters/SeasonTypeParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/WeekParam"
      responses:
        "200":
          description: Longest play distance leaders.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NgsDistanceLeadersResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/leaders/distance/tackle:
    get:
      operationId: getNgsLongestTackles
      summary: Get longest tackles by distance covered.
      description: >-
        Returns leaderboard of tackles with most distance covered
        to make the tackle.
      parameters:
        - $ref: "#/components/parameters/SeasonParam"
        - $ref: "#/components/parameters/SeasonTypeParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/WeekParam"
      responses:
        "200":
          description: Longest tackle distance leaders.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NgsTackleLeadersResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/leaders/expectation/ery/season:
    get:
      operationId: getNgsRemarkableRushes
      summary: Get remarkable rushes.
      description: >-
        Returns leaderboard of rush yards over expected (ERY).
      parameters:
        - $ref: "#/components/parameters/SeasonParam"
        - $ref: "#/components/parameters/SeasonTypeParam"
      responses:
        "200":
          description: Rush yards over expected leaders.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NgsERYLeadersResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
