openapi: "3.1.0"
info:
  title: "NFL.com Pro Games API"
  version: "1.0.0"
  description: >-
    Reverse-engineered specification for the NFL.com Pro Games API.
    This spec was derived from the Griddy SDK implementation and may be
    incomplete. The NFL.com API is undocumented and subject to change
    without notice.
servers:
  - url: https://pro.nfl.com
    description: NFL Pro API

paths:
  /api/stats/gamecenter:
    get:
      operationId: getGamecenter
      summary: Get Gamecenter Statistics
      description: >-
        Retrieves advanced game statistics including passer zones, receiver
        separation, pass rush metrics, and performance leaders for a specific
        game.
      parameters:
        - name: gameId
          in: query
          required: true
          schema:
            type: string
          description: >-
            Game identifier (10-digit format YYYYMMDDNN). Note: this is not a
            UUID; use the numeric game ID returned by other endpoints.
      responses:
        "200":
          description: Advanced game statistics for the specified game.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GamecenterResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/scores/live/games:
    get:
      operationId: getLiveGameScores
      summary: Get Live Game Scores
      description: >-
        Retrieves real-time scores and game status for all games in a specified
        week. Updates frequently (15-second cache) during active games. Returns
        an empty array when no games are currently being played.
      parameters:
        - name: season
          in: query
          required: true
          schema:
            type: integer
          description: Season year.
        - name: seasonType
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/SeasonType"
          description: Type of season.
        - name: week
          in: query
          required: true
          schema:
            type: integer
          description: Week number.
      responses:
        "200":
          description: Real-time scores and game status for the specified week.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LiveScoresResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/stats/boxscore:
    get:
      operationId: getStatsBoxscore
      summary: Get Game Boxscore
      description: >-
        Retrieves comprehensive boxscore data for a specific game including
        team statistics, individual player statistics, and scoring summary.
        Returns empty arrays for future games.
      parameters:
        - name: gameId
          in: query
          required: true
          schema:
            type: string
          description: Game identifier (10-digit format YYYYMMDDNN).
      responses:
        "200":
          description: Comprehensive boxscore data for the specified game.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BoxscoreResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/secured/plays/playlist/game:
    get:
      operationId: getPlaylistGame
      summary: Get Game Playlist
      description: >-
        Retrieves the play playlist for a specific game. Requires NFL Pro
        Access.
      parameters:
        - name: gameId
          in: query
          required: true
          schema:
            type: string
          description: Game identifier (10-digit format YYYYMMDDNN).
      responses:
        "200":
          description: Playlist data for the specified game.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaylistResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/plays/summaryPlay:
    get:
      operationId: getSummaryPlay
      summary: Get Play Summary
      description: >-
        Retrieves detailed information about a specific play in a game
        including play description, statistics, involved players, win
        probability, and expected points.
      parameters:
        - name: gameId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: Game identifier (UUID format).
        - name: playId
          in: query
          required: true
          schema:
            type: integer
          description: Play identifier within the game.
      responses:
        "200":
          description: Detailed information about the specified play.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaySummaryResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/secured/plays/winProbability:
    get:
      operationId: getPlaysWinProbability
      summary: Get Game Win Probability by Plays
      description: >-
        Retrieves comprehensive win probability data for every play in
        specified games. Returns pre-game win probabilities and detailed
        play-by-play probability changes, including Win Probability Added
        (WPA) metrics. Requires NFL Pro Access.
      parameters:
        - name: gameId
          in: query
          required: true
          schema:
            type: string
          description: >-
            Game identifier(s) in 10-digit format (YYYYMMDDNN). Can be a
            single game ID or multiple game IDs for batch retrieval.
      responses:
        "200":
          description: Win probability data for every play in the specified games.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayWinProbabilityResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/secured/plays/winProbabilityMin:
    get:
      operationId: getWinProbabilityMin
      summary: Get Minimal Win Probability Data
      description: >-
        Retrieves minimal win probability data for specified games, including
        pregame win probabilities and play-by-play probability changes.
        Optimized data structure for performance. Requires NFL Pro Access.
      parameters:
        - name: fapiGameId
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
              format: uuid
          description: Football API game identifiers (UUID format). Supports multiple game IDs.
      responses:
        "200":
          description: Minimal win probability data for the specified games.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WinProbabilityResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

components:
  schemas:
    SeasonType:
      type: string
      enum: ["PRE", "REG", "POST"]
    GamecenterResponse:
      type: object
      description: Advanced game statistics including passer zones, separation, and pass rush metrics.
    LiveScoresResponse:
      type: object
      description: Real-time scores and game status for all games in a week.
    BoxscoreResponse:
      type: object
      description: Comprehensive boxscore data with team and player statistics.
    PlaylistResponse:
      type: object
      description: Play playlist data for a game.
    PlaySummaryResponse:
      type: object
      description: Detailed play information including statistics and win probability.
    PlayWinProbabilityResponse:
      type: object
      description: Comprehensive win probability data for every play in a game.
    WinProbabilityResponse:
      type: object
      description: Minimal win probability data optimized for performance.
  responses:
    Unauthorized:
      description: Authentication required or token expired.
    NotFound:
      description: The requested resource was not found.
    RateLimited:
      description: Rate limit exceeded.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth2 access token from the authentication endpoint.

security:
  - bearerAuth: []
