openapi: "3.1.0"
info:
  title: "NFL.com Pro Schedules API"
  version: "1.0.0"
  description: >-
    Reverse-engineered specification for the NFL.com Pro Schedules API.
    This spec was derived from the Griddy SDK implementation and may be
    incomplete. The NFL.com API is undocumented and subject to change
    without notice.
servers:
  - url: https://pro.nfl.com
    description: NFL Pro API

paths:
  /api/schedules/games:
    get:
      operationId: getScheduledGames
      summary: Get Games by Week
      description: >-
        Retrieves all games for a specific season, season type, and week.
        Returns comprehensive game data including teams, venues, broadcast
        information, and ticket details.
      parameters:
        - name: season
          in: query
          required: true
          schema:
            type: integer
          description: Season year.
        - name: seasonType
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/SeasonType"
          description: Type of season.
        - name: week
          in: query
          required: true
          schema:
            type: integer
          description: Week number within the season.
      responses:
        "200":
          description: All games for the specified week.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GamesResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/schedules/current:
    get:
      operationId: getCurrentWeekGames
      summary: Get Current Week Games
      description: >-
        Retrieves all games for the current week of the NFL season. The
        endpoint automatically determines the current week based on the
        current date.
      responses:
        "200":
          description: All games for the current week.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrentGamesResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/schedules/genius/future/odds:
    get:
      operationId: getFutureBettingOdds
      summary: Get Future Betting Odds
      description: >-
        Retrieves comprehensive betting futures data including Super Bowl odds,
        conference championship odds, and division winner odds for all teams.
        Returns decimal odds for each selection along with availability status.
      responses:
        "200":
          description: Betting futures data across multiple market hierarchies.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FuturesOddsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/schedules/standings:
    get:
      operationId: getTeamStandings
      summary: Get Team Standings
      description: >-
        Retrieves comprehensive team standings for a specific season, season
        type, and week. Returns division, conference, home/away records, win
        percentages, points for/against, streaks, and clinching scenarios.
      parameters:
        - name: season
          in: query
          required: true
          schema:
            type: integer
          description: Season year.
        - name: seasonType
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/SeasonType"
          description: Type of season.
        - name: week
          in: query
          required: true
          schema:
            type: integer
          description: Week number within the season.
      responses:
        "200":
          description: Team standings for the specified week.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandingsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/schedules/weeks:
    get:
      operationId: getScheduleSeasonWeeks
      summary: Get Season Weeks
      description: >-
        Retrieves all weeks for a specific season including preseason, regular
        season, and postseason weeks. Returns week dates, types, and teams on
        bye for each week.
      parameters:
        - name: season
          in: query
          required: true
          schema:
            type: integer
          description: Season year.
      responses:
        "200":
          description: All weeks for the specified season.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SeasonWeeksResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/schedules/game:
    get:
      operationId: getScheduledGame
      summary: Get Single Game Details
      description: >-
        Retrieves detailed information for a specific game by its ID. Returns
        comprehensive game data including teams, score, venue, broadcast
        information, and current game status.
      parameters:
        - name: gameId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: Game identifier (UUID format).
      responses:
        "200":
          description: Detailed information for the specified game.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameDetail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/schedules/game/matchup/rankings:
    get:
      operationId: getGameMatchupRankings
      summary: Get Game Matchup Rankings
      description: >-
        Retrieves comprehensive matchup rankings and statistical comparisons
        for both teams in a specific game. Returns offensive, defensive, and
        special teams rankings with Z-scores and advantage ratings.
      parameters:
        - name: gameId
          in: query
          required: true
          schema:
            type: string
          description: Game identifier (10-digit format YYYYMMDDNN).
      responses:
        "200":
          description: Matchup rankings and statistical comparisons for both teams.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchupRankingsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/stats/game/team-rankings:
    get:
      operationId: getGameTeamRankings
      summary: Get Team Rankings for Game
      description: >-
        Retrieves comprehensive statistical rankings for both teams in a
        specific game. Returns 300+ statistical categories with rankings for
        offensive, defensive, and special teams performance.
      parameters:
        - name: season
          in: query
          required: true
          schema:
            type: integer
          description: Season year.
        - name: seasonType
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/SeasonType"
          description: Type of season.
        - name: awayTeamId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: Away team UUID.
        - name: homeTeamId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: Home team UUID.
        - name: week
          in: query
          required: true
          schema:
            type: integer
          description: Week number.
      responses:
        "200":
          description: Statistical rankings for both teams.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamRankingsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/schedules/game/team/injuries:
    get:
      operationId: getTeamInjuries
      summary: Get Team Injuries for Game Week
      description: >-
        Retrieves injury report information for a specific team in a given
        week. Returns player injury status and details.
      parameters:
        - name: season
          in: query
          required: true
          schema:
            type: integer
          description: Season year.
        - name: seasonType
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/SeasonType"
          description: Type of season.
        - name: teamId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: Team identifier (UUID format).
        - name: week
          in: query
          required: true
          schema:
            type: integer
          description: Week number within the season.
      responses:
        "200":
          description: Injury report for the specified team and week.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InjuryReportResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/content/game/preview:
    get:
      operationId: getGamePreview
      summary: Get Game Preview Content
      description: >-
        Retrieves preview content and insights for a specific game based on
        teams and week. Returns preview information, matchup analysis, and
        key storylines.
      parameters:
        - name: season
          in: query
          required: true
          schema:
            type: integer
          description: Season year.
        - name: seasonType
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/SeasonType"
          description: Type of season.
        - name: week
          in: query
          required: true
          schema:
            type: integer
          description: Week number.
        - name: visitorDisplayName
          in: query
          required: true
          schema:
            type: string
          description: Visiting team display name.
        - name: homeDisplayName
          in: query
          required: true
          schema:
            type: string
          description: Home team display name.
      responses:
        "200":
          description: Preview content and matchup analysis for the game.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GamePreviewResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/content/insights/game:
    get:
      operationId: getGameInsights
      summary: Get Game-Specific Insights
      description: >-
        Retrieves analytical insights and advanced statistics for a specific
        game. Can filter by tags and exclude specific content types.
      parameters:
        - name: season
          in: query
          required: true
          schema:
            type: integer
          description: Season year.
        - name: fapiGameId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: FAPI Game identifier (UUID).
        - name: awayTeamId
          in: query
          required: true
          schema:
            type: string
          description: Away team identifier.
        - name: homeTeamId
          in: query
          required: true
          schema:
            type: string
          description: Home team identifier.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
          description: Maximum number of insights to return.
        - name: tags
          in: query
          required: false
          schema:
            type: string
          description: Comma-separated list of tags to filter by.
        - name: excludeTags
          in: query
          required: false
          schema:
            type: string
          description: Comma-separated list of tags to exclude.
      responses:
        "200":
          description: Analytical insights for the specified game.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GameInsight"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

components:
  schemas:
    SeasonType:
      type: string
      enum: ["PRE", "REG", "POST"]
    GamesResponse:
      type: object
      description: Collection of games for a specified week.
    CurrentGamesResponse:
      type: object
      description: Collection of games for the current week.
    FuturesOddsResponse:
      type: object
      description: Betting futures data across multiple market hierarchies.
    StandingsResponse:
      type: object
      description: Team standings with division, conference, and overall records.
    SeasonWeeksResponse:
      type: object
      description: All weeks for a season with dates, types, and bye teams.
    GameDetail:
      type: object
      description: Detailed game information including teams, score, and venue.
    MatchupRankingsResponse:
      type: object
      description: Matchup rankings with Z-scores and advantage ratings.
    TeamRankingsResponse:
      type: object
      description: Comprehensive statistical rankings for both teams in a game.
    InjuryReportResponse:
      type: object
      description: Player injury status and details for a team.
    GamePreviewResponse:
      type: object
      description: Game preview content with matchup analysis and storylines.
    GameInsight:
      type: object
      description: Analytical insight with advanced statistics for a game.
  responses:
    Unauthorized:
      description: Authentication required or token expired.
    NotFound:
      description: The requested resource was not found.
    RateLimited:
      description: Rate limit exceeded.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth2 access token from the authentication endpoint.

security:
  - bearerAuth: []
